<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pollaris</title>
    <link rel="stylesheet" href="static/css/homepage.css" />
  </head>

  <body>
    <header>
      <img src="static/images/pollaris-logo.png" alt="Pollaris Logo" />
      <div class="sign-in">
        <a href="#" id="signinbtn" class="btn">Sign In</a>
      </div>
    </header>

    <h1>LET POLLARIS GUIDE YOU TO NEW HORIZONS</h1>
    <a href="#" class="btn">Sign Up</a>

    <div class="search-bar">
      <input type="text" placeholder="Enter Poll ID" />
      <button class="btn btn-search">Search</button>
    </div>

    <div class="btn-poll">
      <a href="#" class="btn">Take a Poll</a>
    </div>

    <div class="poll-links">
      <a href="poll1.html">Poll 1</a>
      <a href="poll2.html">Poll 2</a>
      <a href="poll3.html">Poll 3</a>
    </div>

    <!--link to jquery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--link to javascript file-->
    <script src="static/javascript/homepage.js"></script>
  </body>
</html>