<!--HTML page for Pollaris Homepage-->
<!--Authors: Escalona, Sansbury, Webster-->
<!--Written December 2023-->
<!--CSPB 3308 - Fall 2023 - Knox - Software Development Tools and Methods-->
<!--University of Colorado Boulder-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pollaris Home</title>
    <link rel="stylesheet" href="static/css/homepage.css" />
  </head>
  <body>

    <header>
        <img id="logo" src="static/images/pollaris-logo.png" alt="Pollaris Logo"/>
        <button id="login-btn" class="btn">Log In</button>
    </header>

    <div id="welcome" class="section">
      <h1>LET POLLARIS GUIDE YOU TO NEW HORIZONS</h1>
      <br>
      <button id="sign-up-btn" class="btn">Sign Up</button>
      <br>
      <br>
    </div>

    <div id="search-poll" class="section">
      <div class="search-bar">
        <input type="text" placeholder="Enter Poll ID" />
        <button class="btn btn-search">Search</button>
        <br>
        <br>
      </div>
    </div>

    <div id="create-poll" class="section">
      <div class="btn-poll">
        <a id="create-btn" class="btn">Create a Poll</a>
      </div>

      <!--<div class="poll-links">
        <a href="poll1.html">Take Poll 1</a>
        <a href="poll2.html">Take Poll 2</a>
        <a href="poll3.html">Take Poll 3</a>
        <br>
        <br>
      </div>-->
    </div>
    <br>
    <div id="footer">
      <p>Created by Escalona, Sansbury, Webster for CSPB 3308 in December 2023</p>
    </div>

    <!--link to jquery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--link to javascript file-->
    <script src="static/javascript/homepage.js"></script>
  </body>
</html>
