<!--HTML page for Pollaris Login Page-->
<!--Authors: Escalona, Sansbury, Webster-->
<!--Written December 2023-->
<!--CSPB 3308 - Fall 2023 - Knox - Software Development Tools and Methods-->
<!--University of Colorado Boulder-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollaris Login</title>
    <link rel="stylesheet" href="static/css/login_page.css" />
</head>
<body>
    <header>
        <img id="logo" src="static/images/pollaris-logo.png" alt="Pollaris Logo">
    </header>

    <div class = "section">
        <h1>LOG IN</h1>
        <form id="login-form" method="POST">
            <div class="login-bar">
                <input type="text" name="username" placeholder="Username">
                <br>
                <input type="password" name="password" placeholder="Password">
                <br>
                <br>
                <button type="button" id="login-btn" class="btn">Log In</button>
                <br>
                <br>
                <button type="button" id="sign-up-btn" class="btn">Sign Up</button>
                <br>
                <br>
                <a id="forgot-password">Forgot Password?</a>
            </div>
        </form>
        <br>
        <br>
    </div>
    <!--link to jquery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--link to javascript file-->
    <script src="static/javascript/login_page.js"></script>
</body>
</html>