<!--HTML page for Pollaris Sign Up Page-->
<!--Authors: Escalona, Sansbury, Webster-->
<!--Written December 2023-->
<!--CSPB 3308 - Fall 2023 - Knox - Software Development Tools and Methods-->
<!--University of Colorado Boulder-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollaris Sign Up</title>
    <link rel="stylesheet" href="static/css/sign_up.css" />
</head>
<body>
    <header>
        <img id="logo" src="static/images/pollaris-logo.png" alt="Pollaris Logo"/>
        <button id="login-btn" class="btn">Log In</button>
    </header>
    <div id="sign-up-form" class="section">
        <h1>SIGN UP</h1>
        <form id="signup-form" action="/user" method="post">
            <div class="signup-bar">
                <input type="text" name="username" placeholder="Username">
                <br>
                <input type="text" name="first" placeholder="First Name">
                <br>
                <input type="text" name="last" placeholder="Last Name">
                <br>
                <input type="email" name="email" placeholder="Email Address">
                <br>
                <input type="password" name="password" placeholder="Password">
                <br>
                <br>
                <input type="submit" id="signup-button" class="btn" value="Submit">
                <br>
                <br>
                <a id="forgot-password">Forgot Password?</a>
                <br>
                <br>
            </div>
        </form>
    </div>
    <!--link to jquery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--link to javascript file-->
    <script src="static/javascript/sign_up.js"></script>
</body>
</html>
