<!--HTML page for Pollaris Voting Page-->
<!--Authors: Escalona, Sansbury, Webster-->
<!--Written December 2023-->
<!--CSPB 3308 - Fall 2023 - Knox - Software Development Tools and Methods-->
<!--University of Colorado Boulder-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollaris Voting</title>
    <link rel="stylesheet" href="static/css/voting_page.css" />
    
</head>

<body>
    	<header>
        	<img src="static/images/pollaris-logo.png" alt="Pollaris Logo">
        	<div class="sign-in">
        	<a href="#" class="btn">Sign In</a>
        	</div>
	</header>

	<h1>Poll Title</h1>
	
	<div>
	<form method=“POST”>
		{% for question, answers in questions.items() %}
			{% set q_no="q"+loop.index|string %}
			<div class="question" value={{ q_no }}>
			<h3>{{loop.index}}. {{question}}</h3>
			</div>
	
			{% for answer in answers  %}
				{% set a_no=loop.index0|string %}
				<div class="voting-option">
				<input type="radio" class="option" name={{q_no}} value={{a_no}}>
				<label for={{a_no}}>{{answer}}</label>
				</div>
			{%endfor%}
			<hr>
		{%endfor%}
	
		<input type="button" class="btn btn-submit"  name="submit" value="submit" onclick="submitData()">Submit</button>
	</form>
	</div>
	
	<script>
        // find a way to send this info to backend - with ajax to redirect?
        // so clicking submit sends this info to backend
	        dict={}
	        function submitData() {
	                var questions = document.getElementsByClassName("question");
	
	                for (var j = 0, length = questions.length; j < questions.length; j++){
	                        let name ="q".concat((j+1).toString());
	                        var options = document.getElementsByName(name);
	                        let filled_out=false;
	
	                        for (var i = 0, length = options.length; i < length; i++) {
	
	                                if (options[i].checked) {
	                                        filled_out = true
	                                        dict[j]=options[i].value;
	                                }
	                	}
	                        if (filled_out==false){
	                                dict[j]="";
	                }
	        }
		console.log(dict)
	}
	</script>

    <!--link to jquery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--link to javascript file-->
    <script src="static/javascript/sign_up.js"></script>
</body>
</html>
