/* CSS page for Pollaris Homepage */
/* Authors: Escalona, Sansbury, Webster */
/* Written December 2023 */
/* CSPB 3308 - Fall 2023 - Knox - Software Development Tools and Methods */
/* University of Colorado Boulder */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-image: url('../images/pollaris-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-image: url('../images/pollaris-header.jpg');
    background-color: midnightblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
}

#logo {
    max-height: 75px;
    object-fit: contain;
}


h1 {
    margin-top: 40px;
    font-size: 24px;
    color: white;
}

.btn {
    border: 2px solid white;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
}

.btn-poll {
    margin-top: 40px;
}

.poll-links {
    margin-top: 40px;
}

.poll-links a {
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.search-bar {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-search {
    padding: 10px 20px;
    font-size: 16px;
}

.section {
    margin: auto;
    width: 60%;
    margin-top: 10px;
    padding: 10px 20px;
    background: rgba(25,25,112,0.7);
    /* background-color: midnightblue;
    opacity: 0.7; */
    /* background-image: url('../images/pollaris-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    border: 2px solid white;
    border-radius: 10px;
}

#footer {
    color: white;
    font-size: 14px;
}